<footer class="footer"> 
	<div class="container"> 
		<p class="text-muted">
			<span class="pull-right hidden-xs"> Servicio Nacional de Aprendizaje. </span> <strong>Copyright © 2016 <a href="#">SENA</a>
			</strong>. Todos los derechos reservados.
		 </p> 
	</div>
</footer>